/* Agregando los logos */
h1::before {
  content: "";
  display: inline-block;
  width: 200px;
  height: 100px;
  background-image: url("https://higherlogicdownload.s3.amazonaws.com/GENESYS/fcf56705-8675-4314-9285-232433aee8ee/UploadedImages/Genesys_Cloud-Icon_only-RGB-color__1_.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  vertical-align: middle;
}

h1::after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/2560px-OpenAI_Logo.svg.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
  vertical-align: bottom;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Agregando un margen superior a los div de botones */
form div:nth-child(n+4) {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

