<!DOCTYPE html>
<html>
  <head>
    <title>GC & Open AI Integration - fine tuning of AI models</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://sdk-cdn.mypurecloud.com/javascript/latest/purecloud-platform-client-v2.min.js"></script>
    <script src="https://sdk-cdn.mypurecloud.com/client-apps/2.6.3/purecloud-client-app-sdk-de77761d.min.js"></script>
    <script src="./package.json"></script>
    <script src="./fineTune.js"></script>
    <script src="./listFineTunes.js"></script>
    <script src="./extract_text.js"></script>
    <script src="./handleFileSelect.js"></script>
    <script src="./uploadJSONL.js"></script>
    <script src="./GetKnowledgeBase.js"></script>
    <script src="./exportKnowledgeBase.js"></script>
    <script src="./startGCSDKs.js"></script>
    <link rel="stylesheet" href="app.css" /> 
    
  </head>
  <body>
    <h1>GC & Open AI Integration - fine tuning of AI models</h1>
    <form>
      <div>
        <label for="upload-result">Upload Result:</label>
        <textarea id="upload-result" rows="10" readonly></textarea>
      </div>
      <div>
        <label for="training-file">File Id for fine tuning:</label>
        <input type="text" id="training-file" name="training-file"/>
      </div>
    <div>
      <label for="model">Model:</label>
      <input type="text" id="model" name="model"/>
    </div>      
      <div>
        <button id="fine-tune-button" type="button">Fine-tune</button>
  		</div>
      <div>
        <label for="fine-tune-result">Fine-tune Result:</label>
        <textarea id="fine-tune-result" rows="10" readonly></textarea>
      </div>
      
      <button id="list-button" type="button">List Fine-tunes</button>
      <div>
        <table id="fine-tunes-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fine tuned model</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div>
        <button id="knowledge-bases-button" type="button">Get Knowledge Bases</button>
        <table id="knowledge-bases-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Core Language</th>
              <th>Article Count</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div id="app">
        <api-component :knowledge-base-id="selectedKnowledgeBaseId"></api-component>
      </div>
      <template id="api-component-template">
        <div>
          <button @click.prevent="exportKnowledgeBase($event, kb.id)">Export Knowledge Base</button>
          <div v-if="response">Response: {{ response }}</div>
          <div v-if="error">Error: {{ error }}</div>
        </div>
      </template>    
    </form>

    <script>
      console.log("start");
      const OAIApiKey = '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';
      const gcClientId = 'ad6a9e4d-9694-4775-9e3f-6e590076508c';
      let selectedKnowledgeBaseId;
      startGCSDKs(gcClientId);
      console.log("debug: startGCSDKs executed");

      const form = document.querySelector('form');
      form.addEventListener("change", function (event) {
        handleFileSelect(event);
        console.log("debug: handleFileSelect executed");
      });


      const fineTuneButton = document.getElementById("fine-tune-button");
      fineTuneButton.addEventListener("click", function () {
        fineTune();
        console.log("debug: fineTune executed");
      });


      const listButton = document.getElementById("list-button");
      listButton.addEventListener("click", function () {
        listFineTunes();
        console.log("debug: listFineTunes executed");
      });

      const getKnowledgeBasesButton = document.getElementById("knowledge-bases-button");
      selectedKnowledgeBaseId = document.getElementById("selectedKnowledgeBaseId");

      getKnowledgeBasesButton.addEventListener("click", function () {
        GetKnowledgeBase(exportKnowledgeBase.bind(null, this.parentNode.parentNode.cells[0].textContent));
        console.log("debug: GetKnowledgeBase executed");
      });

    </script>

    
  </body>
</html>
